html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #13874b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.main-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.selection-window {
    height: 95%;
    width: 68%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8ee1fd;
    box-shadow: 1px 1px 1px 2px black;
}
.main-buttons {
    width: 60%;
    font-size: 4rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 12px 4px black;
}

.main-reset-button {
    margin-top: 90px;
}
.menu-window {
    height: 95%;
    width: 68%;
    border-radius: 10px;
    background-color: palegoldenrod;
    overflow: hidden;
    box-shadow: 1px 1px 1px 2px black;
}
.menu-image-grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.menu-image-grid-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-image {
    height: 100%;
    width: 100%;
    max-height: 105px;
    max-width: 170px;
    border-radius: 5px;
}

.menu-back-button-container {
    width: 100%;
    height: 10%;
    background-color: black;
    z-index: 3;
}
.menu-back-button {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    background-color: white;
    box-shadow: 1px 1px 12px 4px black;
}
.order-display {
    height: 95%;
    width: 28%;
}
.order-image-grid {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: #8ee1fd;
    box-shadow: 1px 1px 1px 2px black;
}
.order-image-grid-box {
    margin: 0 auto;
}
.order-image {
    height: 100%;
    width: 100%;
    max-height: 110px;
    max-width: 140px;
}
.order-finish-button {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.finish-button {
    width: 80%;
    height: 100%;
    font-size: 3rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 12px 4px black;
}

.check-out-window {
    height: 95%;
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}
.final-order-display {
    width: 100%;
    height: 50%;
    box-shadow: 1px 1px 1px 2px black;
    background-color: #8ee1fd;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.final-order-image-grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.final-order-image-grid img {
    max-height: 150px;
    max-width: 200px;
}
.price-display {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: white;
}
.price-numbers-box {
    height: 80%;
    width: 30%;
    background-color: gray;
    border-radius: 15px;
    box-shadow: 2px 2px 12px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.price-numbers {
    border: 0
}
.check-out-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}
.check-out-buttons button {
    height: 100%;
    width: 45%;
    font-size: 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 4px black;
}

.selected {
    box-shadow: 0 0 15px 10px white;
    background-color: white;
}


button:hover {
    box-shadow: 2px 2px 12px 4px white;
}

.back {
    z-index: -10;
    display: none;
}

@media (max-height:800px) {
    .menu-back-button {
        font-size: 1.5rem;
    }
    .finish-button {
        font-size: 1.5rem;
    }
    .menu-back-button {
        font-size: 1.5rem;
    }
    .main-buttons {
        font-size: 2rem;
    }
    .menu-image {
        max-height: 75px;
        max-width: 140px;
    }
    .order-image {
        max-height: 75px;
        max-width: 140px;
    }
    .check-out-buttons button {
        font-size: 1.5rem;
    }
    .price-display {
        font-size: 4rem;
    }
    .final-order-image-grid img {
        max-height: 120px;
        max-width: 180px;
    }
}
@media (max-height:600px) {
    .menu-back-button {
        font-size: 1rem;
    }
    .finish-button {
        font-size: 1rem;
    }
    .menu-back-button {
        font-size: 1rem;
    }
    .main-buttons {
        font-size: 1rem;
    }
    .menu-image {
        max-height: 45px;
        max-width: 100px;
    }
    .order-image {
        max-height: 35px;
        max-width: 90px;
    }
    .check-out-buttons button {
        font-size: 1rem;
    }
    .price-display {
        font-size: 2rem;
    }
    .final-order-image-grid img {
        max-height: 50px;
        max-width: 90px;
    }
}